@page "/import-history"

@using Newtonsoft.Json
@using TaxAssistant.JPK.Shared.Model
@using Microsoft.AspNetCore.Components.Forms
@using System.Text.Json
@using System.Text.Json.Serialization
@using TaxAssistant.JPK.Shared.Model.Database
@using TaxAssistant.JPK.Client.Clients.Abstraction

@inject IApiClient<Import> Client

<PageTitle>Import history</PageTitle>

<h1>Import history</h1>

@if (isLoading)
{
    <Loading />
}
else if(@imports == null)
{
    <div class="alert alert-danger">No imports found</div>
}
else 
{
    <Table DataSource=@imports>
        <Column TRow="Import" Title="Import date">@context.CreationDate</Column>
        <Column TRow="Import" Title="KPiR">@context.KpirId</Column>
        <Column TRow="Import" Title="Deleted">@context.Kpir?.IsDeleted</Column>
    </Table>
}

@code {
    private IList<Import>? imports;
    private bool isLoading;

    protected override async Task OnInitializedAsync()
    {
        isLoading = true;

        try
        {
            imports = await Client.GetAsync();
            Console.WriteLine("Loaded data");
        }
        finally
        {
            isLoading = false;
        }
    }
}
