@typeparam TRow

@using Microsoft.AspNetCore.Components.Rendering

@code {
    [CascadingParameter] 
    public Table<TRow> OwnerGrid { get; set; }

    [Parameter] 
    public string Title { get; set; }

    [Parameter] 
    public TRow RowData { get; set; }

    [Parameter] 
    public RenderFragment<TRow> ChildContent { get; set; }

    [Parameter]
    public Action<MouseEventArgs>? SelectAllCallback { get; set; }

    protected override void OnInitialized()
    {
        OwnerGrid.AddColumn(this);
    }

    internal void RenderHeader(RenderTreeBuilder __builder)
    {
        @if (SelectAllCallback == null)
        {
            <th>@Title</th>
        }
        else 
        {
            <th><input type="checkbox" @onclick="@SelectAllCallback" /></th>
        }
    }

    internal void RenderCell(RenderTreeBuilder __builder, TRow rowData)
    {
        <td>@ChildContent(rowData)</td>
    }
}